/***************************
Add your custom styles below
****************************/

.btn--primary {
    color: white;
}

.menu>li>a {
    padding: 2em 1.3em !important;
    height: 100%;
    display: inline-block;
}

.list-inline--images img {
    min-height: 6em !important;
}

.slides:not(.flickity-enabled) li.imagebg:first-child .container {
    opacity: 1;
}

.feature-1 p {
    min-height: 0em;
}

.pagination__prev,
.pagination__next {
    font-size: 1.5em !important;
}

.h1 {
    font-size: 70px;
}

/* .owl-theme .owl-controls {
  margin-top: 60px !important;
} */

p+a:not(.btn) {
    font-size: 0.85714286em;
    line-height: 4em;
}