@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?ei24y8');
	src: url('../fonts/icomoon.eot?ei24y8#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ei24y8') format('truetype'),
		url('../fonts/icomoon.woff?ei24y8') format('woff'),
		url('../fonts/icomoon.svg?ei24y8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon';
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-phone:before {
	content: "\e942";
}

.ico-location:before {
	content: "\e947";
}