---
layout: default-layout
title: Vinyl Colour Wardrobe Doors
description: Gold Coast Supplier and installer of Wardrobe doors.
permalink: /products/wardrobe/vinyl-colour/
image_path: /img/wardrobe/vinyl-colour/
categories: wardrobes
product: vinyl-colour
value-prop:  Very cost effctive and doors can be colour matched to any colour making them extremely versatile.
---
{% assign product = site.data.wardrobes[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
      {% for image in site.static_files %}
      {% if image.path contains 'img/wardrobe/vinyl-colour/hero' %}
          <img src="{{site.baseurl}}{{image.path}}">
      {% endif %}
      {% endfor %}
    </div>

    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>{{ page.title }}</h2>
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                  <p class="lead">
                    {{page.value-prop}}
                  </div>
                  </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

{% include content.html %}


<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              {% for image in site.static_files %}
              {% if image.path contains 'img/wardrobe/vinyl-colour/' %}
                  <img src="{{site.baseurl}}{{image.path}}">
              {% endif %}
              {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
