---
layout: default-category-layout
title: Accessories
description: We have a large range of balustrade clamps, hingles, brackets, handles and more. We supply strong quality products at the right price.
permalink: /products/accessories/
heroimage: /img/accessories/accessories.jpg
brochure: /brochure/accessories.pdf
buybutton: https://www.goldcoastshowerscreens.online/shop
---
{% include showerscreen-section-head.html %}
{% include breadcrumb.html %}

{% include accessories-card-section.html %}
{% include brochure.html %}
{% include contact-cta.html %}