---
layout: default-category-layout
title: Splashbacks
description: Convert your kitchen into an impressive contemporary design quickly and easily.
permalink: /products/splashbacks/
heroimage: /img/splashbacks/standard/millenniumglass-splashbacks.jpg
leadhead: We can do any colour—contact us with anything to do with splashbacks.
lead: We us Starfire Glass which is a lead free, low iron glass renowned for its crystal-like clarity. Our type of glass will reduce the effects of any colour change.
lead2: All splashbacks are toughened and will cope with the heat and humidity created behind a stove top or kettle.
---
{% include showerscreen-section-head.html %}
{% include intro-section.html %}
{% include splashbacks-card-section.html %}
{% include nanokote.html %}
{% include contact-cta.html %}
