---
layout: default-category-layout
title: Wardrobe Doors
description: A superb range of options from Colour-Back glass, Mirror, Vinyl Coated Gyprock and Woodgrain. Keep it simple with Vinyl or colour-back glass or make a statement with the popular Mirror-line Robes.
permalink: /products/wardrobe-doors/
heroimage: /img/wardrobe-doors/woodgrain/hero/woodgrain-wardrobe-sliding-door-gold-coast.jpg
leadhead: Australian Made — high quality
lead: All our robe doors are safety backed 4mm glass and made to measure.  Manufactured in our factory with high quality Dias metal extrusions.
lead2: Any size space can be measured to an existing opening for your robe doors. Triple track can be added for larger openings.
upsell: Ask us about our internal wardrobe shelving options.
brochure: /brochure/mirrorline.pdf
brochure2: /brochure/slimline.pdf
brochure3: /brochure/softline.pdf
---
{% include showerscreen-section-head.html %}
{% include intro-section.html %}
{% include wardrobe-card-section.html %}
{% include contact-cta.html %}
