---
layout: default-layout
title: Wardrobe Shelving
description: Gold Coast Supplier and installer of Wardrobe Shelving.
permalink: /products/wardrobe-shelving/
image_path: /img/wardrobe-shelving/
category: wardrobe-shelving
product: wardrobe-shelving
value-prop: Standard Internal Bedroom Wardrobe shelving. We also help with Linen Closets, Laundry and Garage storage solutions.
lead: Our quick turnaround allows us to quote and install usually within a week. Whatever your requirements are, we will work with you to design a storage solution to suit your needs and maximise every space possible.
lead2: Quality designed, custom built internal shelving with the best in materials and affordability.
---
{% assign product = site.data.wardrobe-shelving[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
        {% for image in site.static_files %}
        {% if image.path contains '/img/shelving/wardrobe-shelving-gold-coast-01.jpg' %}
        <img src="{{site.baseurl}}{{image.path}}">
        {% endif %}
        {% endfor %}
    </div>

    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{{ page.title }}</h1>
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p class="lead">
                        {{page.value-prop}}
                </div>
                </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

{% include intro-section.html %}


<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% for image in site.static_files %}
                {% if image.path contains 'img/wardrobe-shelving/' %}
                <img src="{{site.baseurl}}{{image.path}}">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>