---
layout: default-layout
title: Shoji Sliding Wardrobe Door System
description:  Contemporary design and style, allowing you to incorporate different glass types, mirror or veneer boards within the one door, different handle colours and different frame colours and designs.
permalink: /products/wardrobe-doors/shoji/
image_path: /img/wardrobe-doors/shoji/
category: wardrobe-doors
product: shoji
value-prop:  A very flexible solution allowing you to incorporate different glass types, mirror or veneer boards within the one door, different handle colours and different frame colours and designs.
lead: Design Flexibility - made to suit your individual requirments the shoji allows for flexibility in door panel design. Facilitating the fabrication of custom designed door panels, a wide range of interior designs are possible providing architectural and aesthetic appeal.
---
{% assign product = site.data.wardrobes[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
      {% for image in site.static_files %}
      {% if image.path contains '/img/shoji.jpg' %}
          <img src="{{site.baseurl}}{{image.path}}">
      {% endif %}
      {% endfor %}
    </div>



    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h1>{{ page.title }}</h1>
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                  <p class="lead">
                    {{page.value-prop}}
                  </div>
                  </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
{% include intro-section.html %}
{% include shoji-tabs.html %}


<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              {% for image in site.static_files %}
              {% if image.path contains '/img/wardrobe-doors/shoji/' %}
                  <img src="{{site.baseurl}}{{image.path}}">
              {% endif %}
              {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
