---
layout: default-layout
title: Softline Wardrobe Doors
description: Gold Coast Supplier and installer of Wardrobe doors.
permalink: /products/wardrobe-doors/softline/
image_path: /img/wardrobe-doors/softline/
category: wardrobe-doors
product: softline
value-prop: Whisper quiet roller operation. Available in clear or tinted anti-shatter safety backed mirror panels.
brochure: /brochure/softline.pdf
buybutton: https://www.goldcoastwardrobedoors.online/
---
{% assign product = site.data.wardrobes[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
        {% for image in site.static_files %}
        {% if image.path contains 'img/wardrobe-doors/softline/' %}
        <img src="{{site.baseurl}}{{image.path}}">
        {% endif %}
        {% endfor %}
    </div>

    {% include quote.html %}
    <!--end container-->
</section>

{% include content.html %}


<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% for image in site.static_files %}
                {% if image.path contains 'img/wardrobe-doors/softline/' %}
                <img src="{{site.baseurl}}{{image.path}}">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% include brochure.html%}