<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2>Your team of experts in Glass and Aluminium</h2>
                <p class="lead">Millennium Glass specialise in a range of glass splashbacks, shower screens, mirrors, sliding wardrobe doors, internal wardrobe shelving, glass pool fencing and balustrading for commercial, DIY and home renovators.
                </p>

            </div>

        </div>
    </div>
    <!--end of row-->
    <!--end of container-->
</section>

<section class="switchable feature-large">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img alt="pic" class="border--round" src="{{site.baseurl}}/img/dan-team-1.jpg" />
            </div>
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <div class="text-block">
                        <h2>Daniel Trotman</h2>
                        <span>Co-Founder &amp; Owner</span>
                    </div>
                    <p class="lead">
                        Daniel has extensive experience in all types of glass fitting, installation and manufacturing of various Glass and Aluminium products. Daniel works alongside a quality team of industry professionals.
                        He is dedicated to providing high quality products with excellent, friendly customer service.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% include features-sm.html %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img alt="pic" src="{{site.baseurl}}/img/Millennium-truck.jpg" />
                <img alt="pic" src="{{site.baseurl}}/img/Millennium-Glass-Vans.jpg" />
                <img alt="pic" src="{{site.baseurl}}/img/Millennium-Glass-Factory.jpg" />
                <img alt="pic" src="{{site.baseurl}}/img/van-pic.jpg" />
            </div>

        </div>
    </div>
    <!--end of row-->
    <!--end of container-->
</section>