<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">

                <div class="masonry__container masonry--animate">
                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/mirrors/beveled/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/accessories/brackets_millenniumglass.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Brackets</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/mirrors/framed/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/accessories/doors-and-seals_millenniumglass.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Doors and Seals</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->


                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/mirrors/semi-framed/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/accessories/handles-and-knobs_millenniumglass.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Handles and Knobs</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/mirrors/micro-edge/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/accessories/headers_millenniumglass.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Headers</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/mirrors/micro-edge/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/accessories/hinges2_millenniumglass.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Hinges</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
