<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/accessories/brackets_millenniumglass.jpg" />
          <div class="feature__body boxed boxed--border">
            <p>Brackets</p>
          </div>
        </div>
      </div>
      <!--end item-->
      <div class="col-sm-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/accessories/doors-and-seals_millenniumglass.jpg" />
          <div class="feature__body boxed boxed--border">
            <p>Doors & Seals</p>
          </div>
        </div>
      </div>
      <!--end item-->
      <div class="col-sm-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/accessories/handles-and-knobs_millenniumglass.jpg" />
          <div class="feature__body boxed boxed--border">
            <p>Handles/Knobs</p>
          </div>
        </div>
      </div>
      <!--end item-->
      <div class="col-sm-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/accessories/headers_millenniumglass.jpg" />
          <div class="feature__body boxed boxed--border">
            <p>Headers</p>
          </div>
        </div>
      </div>
      <!--end item-->
      <div class="col-sm-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/accessories/hinges2_millenniumglass.jpg" />
          <div class="feature__body boxed boxed--border">
            <p>Hinges</p>
          </div>
        </div>
      </div>
      <!--end item-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="project-single-stacked">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {% for image in site.static_files %}
        {% if image.path contains 'img/accessories/hinges/' %}
        <img src="{{site.baseurl}}{{image.path}}">
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>