<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
          <div class="feature feature-1">
            <img alt="Image" src="/img/aluminium-fencing/aluminium-tubular-fencing-sm.jpg"></img>
            <div class="feature__body boxed boxed--border">
              <h5>Aluminium Pool Fencing</h5>
              <p>
                Aluminium tubular fencing panels can be used as pool fences, security fences or to divide areas off. Attractive, strong, low maintenance and cost effective.
              </p>
              <a href="{{site.baseurl}}/products/aluminium-fencing/aluminium-pool-fencing/">
              Learn More
              </a>
            </div>
          </div>
      </div>
      <!--end item-->
      <div class="col-sm-4">
          <div class="feature feature-1">
            <img alt="Image" src="/img/aluminium-fencing/aluminium-privacy-fencing-sm.jpg"></img>
            <div class="feature__body boxed boxed--border">
              <h5>Aluminium Privacy Fencing</h5>
              <p>
                Rust free aluminum full privacy fences are great for any space that needs full privacy. Almost zero maintenance and a huge range of colours.          </p>
              <a href="{{site.baseurl}}/products/aluminium-fencing/aluminium-privacy-fencing/">
              Learn More
              </a>
            </div>
          </div>
      </div>
      <!--end item-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
