<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <p class="lead">
          If you are a Builder, Home Builder, Renovator or a Commercial Builder—have peace of mind that Millennium Glass are experts, reliable and qualified.
        </p>
        <h4>Read testimonials or references from some of our builders.</h4>
        <a href="{{site.baseurl}}/testimonials">
          <div class="btn btn--lg">Go to Testimonials</div>
      </div>
      </a>
    </div>

  </div>
  </div>
  <!--end of row-->
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">



      <div class="col-sm-6">
        <div class="feature feature-3 boxed boxed--lg boxed--border">
          <i class="icon icon--lg icon-Security-Check color--primary"></i>
          <div class="feature__body">
            <h4>Qld Building Contractor Licence</h4>
            <h5>1311306</h5>
          </div>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-6">
        <div class="feature feature-3 boxed boxed--lg boxed--border">
          <i class="icon icon--lg icon-Security-Check color--primary"></i>
          <div class="feature__body">
            <h4>Fair Trading Contractor Licence</h4>
            <h5>286609C</h5>
          </div>
        </div>
        <!--end feature-->
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h3>Awards</h3>
        <p class="lead">
          One of our builders who we supply and fit for ‘Space constructions’ are the recent winners of the <em>‘HIH Australian Display Home of the year 2017’</em>
        </p>
      </div>
      </a>
    </div>

  </div>
  </div>
  <!--end of row-->
  <!--end of container-->
</section>

<section class=" ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="feature feature-2 boxed boxed--border">
                                                <i class="icon icon-Pen color--primary"></i>
                                                <div class="feature__body">
                                                    <p>
                                                      We can work to designers specifications and are experienced in fitting for show homes and display suites.
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-2 boxed boxed--border">
                                                <i class="icon icon-Engineering color--primary"></i>
                                                <div class="feature__body">
                                                    <p>
                                                      We are experienced with large projects and work with builders and interior decorators across the Gold Coast who specialise in luxury apartments and units.
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-2 boxed boxed--border">
                                                <i class="icon icon-Thumb color--primary"></i>
                                                <div class="feature__body">
                                                    <p>
                                                      We are repair and replacement specialists and work with property managers to replace all glass in older style buildings floor by floor.
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                    </div>
                                    <!--end of row-->

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="feature feature-2 boxed boxed--border">
                                                <i class="icon icon-Tower-2 color--primary"></i>
                                                <div class="feature__body">
                                                    <p>
                                                      We supply and fit balustrading solutions in buildings and homes.                                                    </p>
                                                </div>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-2 boxed boxed--border">
                                                <i class="icon icon-Talk-Man color--primary"></i>
                                                <div class="feature__body">
                                                    <p>
                                                      We work with contractors, cabinet makers, property managers.
                                                    </p>
                                                </div>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-2 boxed boxed--border">
                                                <i class="icon icon-Dollar-Sign color--primary"></i>
                                                <div class="feature__body">
                                                    <p>
We sell wholesale—Contact us to see if you qualify.

                                                    </p>
                                                </div>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>

{% include product-masonary.html %}
{% include testimonials.html%}
