<section class="project-single-stacked">
    <div class="container">
        <div class="row project__summary">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="lead">

                  {{ product.content }}

                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row project__description">
            <div class="col-sm-4 col-sm-offset-2">
                <h5>Process</h5>
                <p />Free measure and quote to a blank canvas or existing wardrobe.
                Measuring to the exact millimeter, a wardrobe to suit your taste and budget.
                <p />Repair or replace an outdated existing wardrobe to modernise.

            </div>
            <div class="col-sm-4">
                <h5>Quality</h5>
                <p />We use the best and not cheap inferior imported products.
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
