<section class=" ">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__container">
                    <div class="col-sm-4 masonry__item">
                        <div class="card text-center">
                            <div class="card__top">
                                <i class="icon icon--lg icon-Map-Marker2"></i>
                            </div>
                            <div>
                                <h4>Drop on in</h4>
                                <span class="type--fade">We are located just off the M1</span>
                                <p class="text-center"><a href="https://goo.gl/maps/oJ3gnZpxkm9Uo3Hs8">
                                        48 Dover Drive
                                        <br /> Burleigh Heads
                                        <br /> Queensland 4221</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 masonry__item">
                        <div class="card text-center">
                            <div class="card__top">
                                <i class="icon icon--lg icon-Phone-2"></i>
                            </div>
                            <div>
                                <h4>Give us a call</h4>

                                <span class="type--fade">Make it easy and just give us a ring</span>
                                <p>
                                    Telephone: <a href="tel:07 5593 5898">5593 5898</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 masonry__item">
                        <div class="card text-center">
                            <div class="card__top">
                                <i class="icon icon--lg icon-Computer"></i>
                            </div>
                            <div>
                                <h4>Connect online</h4>
                                <span class="type--fade">Shoot us an email</span>
                                <p>
                                    Email:
                                    <a href="mailto:sales@millenniumglass.com.au">sales@millenniumglass.com.au</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of masonry__container-->
            </div>
            <!--end of masonry-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



{% include contact-cta.html %}