<section class="project-single-stacked">
    <div class="container">
        <div class="row project__summary">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="lead">
                    {{ product.content }}
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row project__description">
            <div class="col-sm-4 col-sm-offset-2">
                <h2>Process</h2>
                <p>{{page.process}}></p>
            </div>
            <div class="col-sm-4">
                <h2>Quality</h2>
                <p>
                    {{page.quality}}
                </p>
                </h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>