<section class=" ">
    <div class="container">
        <div class="row">
            <div class="text-center">

                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
                        <i class="icon icon--lg icon-Map-Marker2 color--primary"></i>
                        <h5>Address</h5>
                        <p class="text-center"><a href="https://goo.gl/maps/oJ3gnZpxkm9Uo3Hs8">
                                48 Dover Drive
                                <br /> Burleigh Heads
                                <br /> Queensland 4221</a>
                        </p>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
                        <i class="icon icon--lg icon-Phone-2 color--primary"></i>
                        <h5>Phone</h5>
                        <p>
                            Telephone:<br> <a href="tel:07 5593 5898">5593 5898</a>
                        </p>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
                        <i class="icon icon--lg icon-Computer color--primary"></i>
                        <h5>Email Us</h5>
                        <p>
                            Email:
                            <a href="mailto:sales@millenniumglass.com.au">sales@millenniumglass.com.au</a>
                        </p>
                    </div>
                    <!--end feature-->
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div id="contact"></div>

</section>