<section class="text-center">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-md-8 col-lg-7">
        <h4 class="text-center">
          Contact us for a<br> free measure and quote
        </h4>
        <form style="margin-left:0px; margin-right: 0px;" action="https://formspree.io/mknnagny" method="POST" class="row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
          <div class="col-md-6">
            <input type="text" name="Name" placeholder="Type Name Here" class="validate-required" />
          </div>
          <div class="col-md-6">
            <input type="phone" name="Phone" placeholder="Phone" class="validate-required" />
          </div>
          <div class="col-md-12">
            <input type="email" name="_replyto" placeholder="Email Address" class="validate-required" />
          </div>

          <div class="col-md-12">
            <input type="text" name="Address" placeholder="Street Address" />
            <input type="text" name="Suburb" placeholder="Suburb" />
            <input type="text" name="State" placeholder="State" />
          </div>
          <div class="col-md-12">
            <textarea name="Message" placeholder="Message" rows="4"></textarea>
          </div>

          <div class="col-md-12">
            <div class="input-select">
              <select name="Product of Interest">
                <option selected="" value="Default">Product of Interest</option>
                <option value="Shower Screens">Shower Screens</option>
                <option value="Mirrors">Mirrors</option>
                <option value="Sliding Wardrobe Doors">Sliding Wardrobe Doors</option>
                <option value="Splashbacks">Splashbacks</option>
                <option value="Glass Fencing & Balustrade">Glass Fencing & Balustrade</option>
                <option value="Accessories">Accessories</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn--primary">Send Form</button>
          </div>
          <input type="hidden" name="_next" value="http://www.millenniumglass.com.au/thanks/" />
          <input type="hidden" name="_subject" value="New Website Sales Enquiry" />
        </form>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>