<section class="project-single-stacked">
    <div class="container">
        <div class="row project__summary">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="lead">

                  {{ product.content }}

                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row project__description">
            <div class="col-sm-4 col-sm-offset-2">
                <h5>Process</h5>
                <p />Free measure and quote to a blank canvas or existing bathroom.
                Measuring to the exact millimeter, a screen to suit your taste and budget.
                <p />Repair or replace an outdated existing door or frame screen to modernise.
                <p />If budget allows there are options for textured or obscured glass, architectural styles and options for something different.

            </div>
            <div class="col-sm-4">
                <h5>Quality</h5>
                <p />We use the best and not cheap inferior imported products.
                <p />Glass — We use toughened monolithic glass, manufactured in factory.
                Using this glass prevents de-lamination, it's also longer lasting and easier to clean.
                <p />Frames — We use only quality Dias Extrusions. Dias are Australian made and have established a reputation for quality and design.
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
