<section class="cta cta-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3>Start building with Milleniumn Glass</h3>
                <p class="lead">
                    We'd love to hear from you to discuss your design ideas.
                </p>
                <a class="btn btn--primary" href="{{site.baseurl}}/contact/">
                    <span class="btn__text">
                        Let's Talk
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
