<section class="cta cta-6 bg--dark" style="padding-top:3em; padding-bottom:3em;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <h3>Servicing both Builders and DIY</h3>
                <p class="lead">
                    All products meet Australian standards. We will give the best advice and education on regulations
                    and laws. We'd love to hear from you to discuss your design ideas.
                </p>
                <a class="btn btn--primary" href="{{site.baseurl}}/contact/">
                    <span class="btn__text">
                        Let's Talk
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>