<section class="imageblock switchable feature-large bg--primary ">
    <div class="imageblock__content col-md-4 col-sm-3 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="{{site.baseurl}}/img/nanokote.jpg" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <h2>Make Cleaning a Breeze</h2>
                <p class="lead">
                    Enduroshield's glass corrosion coating and protection stops corrosion by repelling water, dirt, oil, soaps and shampoo residues.
                </p>
                <div class="feature-large__group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
                                <img alt="image" src="{{site.baseurl}}/img/glass-with-nanokote.jpg" />
                                <h5>Glass with Enduroshield</h5>
                                <p>
                                    With our glass corrosion coating and protection system, a shower screen or splashback will stay clear and bright requiring up to 90% less cleaning. </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
                                <img alt="image" src="{{site.baseurl}}/img/glass-without-nanokote.jpg" />
                                <h5>Glass without Enduroshield</h5>
                                <p>
                                    Enduroshield's glass corrosion coating and protection stops corrosion by repelling water, dirt, oil, soaps and shampoo residues.
                                </p>
                            </div>
                            <!--end feature-->
                        </div>



                    </div>
                </div>
                <!--end of row-->
            </div>
        </div>
    </div>
    <!--end of row-->
    </div>
    <!--end of container-->
</section>