<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="text-block">
                    <h5>Do you offer free measurements and quotes?</h5>
                    <p>
                        Yes! We will send out our professionals to provide obligation-free measurements and quotes. If
                        you can measure yourself however, we can supply quotes fast over the phone for any of our
                        standard products.
                    </p>
                </div>
                <div class="text-block">
                    <h5>What is your turnaround time?</h5>
                    <p>
                        From the time you contact us, our professionals will visit within 24 hours to measure the job
                        and provide a quote. Once a deposit is paid and your glass is ordered, we can manufacture and
                        install your product within 5-10 working days.
                    </p>
                </div>
                <div class="text-block">
                    <h5>Why are your products custom-built? Do you offer any stock products?</h5>
                    <p>
                        We custom-build our shower screens and wardrobes to fit perfectly, accounting for the angles of
                        the floor and walls. For shower screens, this is necessary to prevent leaks and unsightly excess
                        silicone work. For wardrobes, this is necessary for the doors to roll properly.
                        We do supply stock frameless panels that are cheap and look good but come only at certain
                        measurements. We also can supply high-quality hardware for DIY purposes. You can find our
                        catalogue [here].
                    </p>
                </div>
                <div class="text-block">
                    <h5>How do you take payment?</h5>
                    <p>
                        For any transaction, we are happy to take cash, credit card, internet transfer, cheque, or any
                        other method you want to discuss with us.
                    </p>
                    <p>
                        Regarding the payment of any deposits, we do not record any credit card information and will
                        contact you twice to make full payment of the invoice – once to pay the deposit, and once after
                        the job is done. Though you are welcome to pay your invoice in full as you pay your deposit.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="text-block">
                    <h5>What colour metal do you supply?</h5>
                    <p>
                        We supply a wide range of metal colour options for our framed and semi-frameless screens. You
                        can find a list of them [here].
                        If you are looking for another colour option, contact us and we may be able to help you.

                    </p>
                </div>
                <div class="text-block">
                    <h5>What colour glass do you supply?</h5>
                    <p>
                        For our painted splashbacks, we can supply any colour from the Dulux colour range you can find
                        [here].
                    </p>
                </div>
                <div class="text-block">
                    <h5>What is the difference between the types of shower screens do you offer?</h5>
                    <p>
                        We supply framed, semi-frameless and frameless options.
                        Framed screens are fully framed with aluminium and while they need more maintenance, they are
                        our cheapest option and the most watertight.
                    </p>
                    <p>
                        Semi-frameless screens are partially framed with aluminium but has polished glass edges around
                        the front of the screen that gives it a very sleek look. It is our second-cheapest option that
                        fits into any modern home.
                    </p>
                    <p>
                        Frameless screens are polished glass panels secured to the wall with small metal brackets and
                        silicone. The lack of a frame gives these panels a very elegant appearance, though they are our
                        most expensive option as the glass must be thicker to make it sturdier.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>Warranty</h1>
                    <h4>See what the most Frequently Asked Questions are about our product and service warranties.</h4>
                    <a class="btn btn--primary" href="{{site.baseurl}}/warranty/">
                        <span class="btn__text">
                            Learn More
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of container-->
</section>