<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <h4>About Us</h4>

                <div class="feature feature-1">
                    <div class="boxed boxed--border">
                        <h5>About Millennium Glass</h5>
                        <p>
                          Millennium Glass specialise in a range of glass splashbacks, shower screens, mirrors, sliding wardrobe doors, internal wardrobe shelving, glass pool fencing and balustrading for commercial, DIY and home renovators.                        </p>
                        <a href="{{site.baseurl}}/about/">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
              <h4>Recent News</h4>
                <div class="feature feature-1">
                    <div class="boxed boxed--border">
                        <h5>Do You Know the Diy Pool Fencing Regulations?</h5>
                        <p>
                        If you have a pool, it must have a safety barrier and the barrier must be well maintained
                        </p>
                        <a href="http://www.hpw.qld.gov.au/construction/buildingplumbing/poolsafety/poolfencessafetybarriers/pages/default.aspx" target="_blank">
                            Read More
                        </a>
                    </div>
                </div>
                <!--end feature-->
                <div class="feature feature-1">
                    <div class="boxed boxed--border">
                        <h5>Fully Frameless Glass Balustrades on the Gold Coast-the Luxurious Option.</h5>
                        <p>
                            For any DIY job, you always need to make [...]
                        </p>
                        <a href="{{site.baseurl}}/products/glass-fencing/glass-balustrading/">
                            Read More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
              <h4>Featured Project</h4>

                <div class="feature feature-1">
                  <img alt="Image" src="{{site.baseurl}}/img/glass-fencing-and-balustrade/glass-frameless/frameless-glass-fencing-sm.jpg" />
                    <div class="feature__body boxed boxed--border">
                      <h5>Feature Project</h5>
                        <p>
                          We were contacted by a client that had been referred to us by a previous customer as the ‘best in the business’, we were happy to have that label and proud that our previous jobs had earnt us that reputation.                        </p>
                        <a href="{{site.baseurl}}/products/glass-fencing/frameless/">
                            See More
                        </a>
                        <span class="label">Featured</span>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
