<section class="bg--secondary">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
          <i class="icon icon--lg icon-Money-Smiley color--primary"></i>
          <h2>Quality</h2>
          <p>
            Premium and quality at competitive prices.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
          <i class="icon icon--lg icon-Check-2 color--primary"></i>
          <h2>Standards</h2>
          <p>
            All products meet Australian standards. </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
          <i class="icon icon--lg icon-Business-ManWoman color--primary"></i>
          <h2>Dedicated</h2>
          <p>
            We are a small tight-knit team dedicated to supplying the best products. </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
          <i class="icon icon--lg icon-Receipt-3 color--primary"></i>
          <h2>Free Quotes</h2>
          <p>
            We offer free quotes and measurements and are particular with the quality of our installation.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
          <i class="icon icon--lg icon-Orientation-3 color--primary"></i>
          <h2>Options</h2>
          <p>
            We value your time and money and will always provide the best options for your taste and finances.</p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow">
          <i class="icon icon--lg icon-ID-Card color--primary"></i>
          <h2>Fully Licensed </h2>
          <p>
            QBCC 1311306 and NSW fair work 286609C.</p>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>