<section class=" ">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>Quality</h5>
          <p>
            Premium and quality at competitive prices.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>Old Fashioned Service</h5>
          <p>
            The best advice and education on Regulations and laws.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>Fully Licensed</h5>
          <p>
            QBCC  1311306 and NSW fair work 286609C.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>Dedicated</h5>
          <p>
            We are a small tight-knit team dedicated to supplying the best products.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>Free Quotes</h5>
          <p>
           We offer free quotes and measurements and are particular with the quality of our installation.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>High Standards</h5>
          <p>
           All products meet Australian standards.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>Options</h5>
          <p>
           We value your time and money and will always provide the best options for your taste and finances.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-3">
        <div class="feature feature-1 boxed boxed--border">
          <h5>10-Year Warranty</h5>
          <p>
           We provide 10-year work warranty.
          </p>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
