<section class="bg--dark text-center space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="pb-4">Quality that meets Australian Standards.</h2>
            </div>
        </div>
        <!--end of row-->
    </div>
</section>
    <!--end of container-->
    <section class=" bg--dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature feature-1">
                        <img alt="Image" src="{{site.baseurl}}/img/aus-standards.jpg">
                        <div class="feature__body boxed boxed--border">
                            <h5>Australian Standards</h5>
                            <p>
                                Our commitment to quality and compliance means we supply carefully designed products, keeping in mind both the appearance and Australian standards requirements.
                            </p>

                        </div>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-1">
                        <img alt="Image" src="{{site.baseurl}}/img/glass-fencing-and-balustrade/glass-frameless/fencing-close-up.jpg">
                        <div class="feature__body boxed boxed--border">
                            <h5>Modern Aesthetic</h5>
                            <p>
                                Our Stainless steel hardware’s complement our quality glass panels and are available in Chrome, and Matte black. They are superior in strength and have corrosion resistance for harsh marine environments.
                            </p>

                        </div>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-1">
                        <img alt="Image" src="{{site.baseurl}}/img/plastic-pool-hardware.jpg">
                        <div class="feature__body boxed boxed--border">
                            <h5>Plastic Hardware</h5>
                            <p>
                                Plastic alternative options which don’t require earthing. 100% composite (plastic) construction means it will never rust or corrode. Made from ultra-robust, UV stabilised materials. Suits 12mm thick glass applications.
                            </p>
                        </div>
                    </div>
                    <!--end feature-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>