<section class="text-center bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="pb-4">{{page.intro}}</h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Eye-Scan color--primary"></i>
                    <h4>Consistency</h4>
                    <p>
                        All glass is processed from the same float glass supplier for consistency
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Check-2 color--primary"></i>
                    <h4>Quality Control</h4>
                    <p>
                        All glass undergoes strict quality control checks to ensure an optimum product
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Engineering color--primary"></i>
                    <h4>Meticulous Care</h4>
                    <p>
                        Attention to detail in production and installation so you can be ensured of a consistent top quality product
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg  icon-Warehouse color--primary"></i>
                    <h4>Tinted Options</h4>
                    <p>
                        Tinted glass available to stand out from the crowd design
                    </p>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>