<footer class="space--sm footer-2 bg--dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <a href="{{site.baseurl}}/">
          <img style="margin-bottom: 40px;" class="" alt="Millennium Glass" src="{{site.baseurl}}/img/logo-light.png">
        </a>
        <p>
          <em>Contact us about wholesale prices</em>
          <a href="mailto:sales@millenniumglass.com.au">sales@millenniumglass.com.au</a>
        </p>
      </div>

      <div class="col-md-3 col-sm-3">
        <h6>PRODUCTS</h6>
        <ul class="footer__navigation">
          <li>
            <a href="{{site.baseurl}}/products/splashbacks/">
              <span>Splashbacks</span>

            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/products/showerscreens/">
              <span>Showerscreens</span>

            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/products/wardrobe-doors/">
              <span>Wardrobe Doors</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/products/mirrors/">
              <span>Mirrors</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/products/aluminium-fencing/">
              <span>Aluminium Fencing</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/products/glass-fencing/">
              <span>Glass Fencing & Balustrade</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/products/accessories/">
              <span>Accessories</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h6>PAGES</h6>
        <ul class="footer__navigation">
          <li>
            <a href="{{site.baseurl}}/about/">
              <span>About Us</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/testimonials/">
              <span>Testimonials</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/builders/">
              <span>For Builders</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/diy/">
              <span>For DIY</span>
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/contact/">
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <h6>CONTACT</h6>
        <p>
          <a href="https://goo.gl/maps/oJ3gnZpxkm9Uo3Hs8">
            48 Dover Drive <br />
            Burleigh Heads <br />
            Queensland 4221</a>
        </p>
        <p>
          <a href="mailto:sales@millenniumglass.com.au">sales@millenniumglass.com.au</a>
        </p>

        <div class="bar__module">
          <a class="btn btn--sm btn--primary type--uppercase" href="tel:07 5593 5898">
            <span class="btn__text">
              CALL: 5593 5898
            </span>
          </a>
        </div>

      </div>
    </div>
    <div class="row footer__lower text-center-xs">
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-12">
        <span class="type--fine-print">© Copyright
          <span class="update-year">2017</span> Millennium Glass - All Rights Reserved | QBCC 1311306 | NSW Fair Work
          286609C</span> <span class="type--fine-print">Download our <a
            href="{{site.baseurl}}/Millennium-Glass-Terms -and-Conditions.pdf">Terms and Conditions</a></span>
      </div>
    </div>
  </div>
</footer>