<section class="bg--secondary" id="config">
    <div class="container anchor">
        <div class="row">
            <h2 style="padding-left: 15px;"> Available in a range of configurations, custom made and installed to your specification</h2>
            <div class="col-md-3">
                <div class="feature boxed boxed--border border--round">
                    <img alt="Image" src="/img/showerscreens/cofigs/configs_0003_frontonly.png" class="border--round">
                    <h4> Front Panel Only </h4>
                    <p class="type--fine-print">A small little descrioption</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature boxed boxed--border border--round">
                    <img alt="Image" src="/img/showerscreens/cofigs/configs_0005_front+return.png" class="border--round">
                    <h4>Front & Return </h4>
                    <p class="type--fine-print">A small little descrioption</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature boxed boxed--border border--round">
                    <img alt="Image" src="/img/showerscreens/cofigs/configs_0002_front+return+hob.png" class="border--round">
                    <h4>Front & Return hob</h4>
                    <p class="type--fine-print">A small little descrioption</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature boxed boxed--border border--round">
                    <img alt="Image" src="/img/showerscreens/cofigs/configs_0001_wall+wall.png" class="border--round">
                    <h4>Wall to Wall</h4>
                    <p class="type--fine-print">A small little descrioption</p>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-md-3">
                <div class="feature boxed boxed--border border--round">
                    <img alt="Image" src="/img/showerscreens/cofigs/configs_0004_corner+angle.png" class="border--round">
                    <h4>Corner Angled</h4>
                    <p class="type--fine-print">A small little descrioption</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature boxed boxed--border border--round">
                    <img alt="Image" src="/img/showerscreens/cofigs/configs_0000_screen.png" class="border--round">
                    <h4>Partion Screen</h4>
                    <p class="type--fine-print">A small little descrioption</p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>