<section id="hardware">
    <div class="container anchor">
        <div class="row">
            <h2 style="padding-left: 15px;">Complete the look with our showerscreen hardware options
            </h2>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>


        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>
            <div class="col-md-2">
                <div class="feature boxed--border border--round">
                    <img alt="Image" src="{{site.baseurl}}/img/accessories/hardware.png" class="border--round">
                </div>
            </div>


        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>