<section id="specs" class="anchor">
    <div class="container">
        <div class="row">
            <h2 style="padding-left: 15px;">Specifications
            </h2>
            <table class="border--round table--alternate-row">
                <tbody>
                    <tr>
                        <th style="width: 120px;">Max Height</th>
                        <td>2700mm</td>
                    </tr>
                    <tr>
                        <th>Max Width </th>
                        <td>813mm - Door only</td>

                    </tr>
                    <tr>
                        <th>Max Depth </th>
                        <td>1500mm</td>
                    </tr>
                    <tr>
                        <th>Glass Options
                        </th>
                        <td>
                            6mm Clear Toughened, 6mm Low Iron Toughened, 8mm Clear Toughened, 10mm Low Iron Toughened, 10mm Clear Toughened, 10mm Acid Etched Toughened, 10mm Printed Glass Toughened, 6mm Toned Toughened</td>
                    </tr>
                    <tr>
                        <th>Warranty </th>
                        <td>
                            7 Years - Terms and conditions apply
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>