    <div class="row">
        <div class="col-12 col-lg-3">
            <section>
                <nav class="hidden-print hidden-xs hidden-sm hidden-md" data-spy="affix" data-offset-top="530" id="scrollspy">
                    <div class="tabs-container tabs--vertical">
                        <h3>Frameless Showerscreens</h3>

                        <ul class="tabs nav navbar-nav">
                            <li class="active">
                                <a href="#features">Key Features</a>
                            </li>
                            <li>
                                <a href="#config">Configurations</a>
                            </li>
                            <li>
                                <a href="#hardware">Hardware</a>
                            </li>
                            <li>
                                <a href="#specs">Specifications</a>
                            </li>
                            <li>
                                <a href="#downloads">Downloads</a>
                            </li>
                            <li>
                                <a href="#gallery">Image Gallery</a>
                            </li>
                        </ul>
                </nav>
            </section>
        </div>
        <div class="col-12 col-lg-9">
            <section class="introBlock" id="features">

                <div class="h2" style="margin-top: 0px">
                    Frameless Glass Showerscreens are custom designed for elegance and simplicity and add a touch of luxury to your bathroom.
                    Our screens are Australian made and custom installed to your exact specifications. </div>
            </section>
            <section class="imageblock switchable feature-large space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background-image: url('{{site.baseurl}}/img/showerscreens/frameless/frameless_panel_goldcoast_milllenniumglass-5.jpg'); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                        <img alt="image" src="{{site.baseurl}}/img/showerscreens/frameless/frameless_panel_goldcoast_milllenniumglass-5.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                        <h2>Barely There</h2>
                        <p class="lead">
                            Frameless glass shower screens look modern, stylish and streamlined. Moreover, a glass shower screen will transform your bathroom fully by providing a spacious look and feel and facilitate other bathroom features to stand out.
                        </p>
                    </div>
                </div>
                <!--end of row-->
            </section>
            <section class="imageblock switchable switchable--switch feature-large  space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background-image: url('{{site.baseurl}}/img/accessories/hinge.jpg'); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                        <img alt="image" src="{{site.baseurl}}/img/accessories/hinge.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                        <h2>Sleek Quality Hardware</h2>
                        <p class="lead">Glass-to-Glass Shower Hinge is the perfect piece for the door of an enclosed shower cavity. Suitable for glass 8-12mm thick, this fitting comes with all the required hardware and will add a touch of style to your space.</p>
                    </div>
                </div>
                <!--end of row-->
            </section>
            <section class="imageblock switchable feature-large space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background-image: url('{{site.baseurl}}/img/showerscreens/frameless/frameless_panel_goldcoast_milllenniumglass-5.jpg'); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                        <img alt="image" src="{{site.baseurl}}/img/showerscreens/frameless/frameless_panel_goldcoast_milllenniumglass-5.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                        <h2>Custom made and installed</h2>
                        <p class="lead">We custom-build our shower screens and wardrobes to fit perfectly, accounting for the angles of the floor and walls. For shower screens, this is necessary to prevent leaks and unsightly excess silicone work. </p>
                    </div>
                </div>
                <!--end of row-->
            </section>
            <section class="imageblock switchable switchable--switch feature-large  space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background-image: url('{{site.baseurl}}/img/glass-coating.jpg'); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                        <img alt="image" src="{{site.baseurl}}/img/glass-coating.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Make Cleaning a Breeze</h2>
                            <p class="lead">
                                Enduroshield's glass corrosion coating and protection stops corrosion by repelling water, dirt, oil, soaps and shampoo residues.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
            </section>

            {% include frameless-config.html %}
            {% include frameless-hardware.html %}
            {% include frameless-specs.html %}
            {% include frameless-downloads.html %}
            {% include gallery-masonary.html %}

            {% include cta-main.html %}


        </div>
    </div>