    <div id="downloads" class="container anchor">
        <div class="row">
            <h2 style="padding-left: 15px;">Downloads
            </h2>
            <table class="border--round table--alternate-row">
                <tbody>
                    <tr>
                        <th style="width: 120px;"><a href="#">Enduroshield Brochure PDF</a></th>
                    </tr>

                </tbody>
            </table>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    </section>