<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__container masonry--animate">
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/pool-fencing/frameless/frameless-pool-fencing-gold-coast-01.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Frameless Glass Pool Fencing</h5>
                                    </div>
                                    <span>
                                        <em>
                                          Our frameless glass pool glass fencing provides a safe environment for children with an ultra-modern appearance.                                        </em>
                                        </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/pool-fencing/semi-frameless/semi-frameless-pool-fencing-gold-coast.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Semi-frameless Glass Pool Fencing</h5>
                                    </div>
                                    <span>
                                        <em>
                                          Semi-frameless glass pool fencing is the most cost effective type of glass pool fencing. And it's quite stunning.                                      </em>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
