    <section class="slider height-70 cover cover-5" data-arrows="true"  data-timing="5000">
        <ul class="slides">
          <li class="imagebg" data-overlay="4">
              <div class="background-image-holder">
                  <img alt="image" src="{{site.baseurl}}/img/showerscreens/frameless/hero/showerscreens-frameless-gold-coast.jpg" />
              </div>
              <div class="container pos-vertical-center">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2 text-center">
                          <h1>Showerscreens</h1>
                          <p class="lead">
                              <em>Premium quality and competitive prices. We manufacture all our products in our factory.</em>
                          </p>
                          <a class="btn btn--primary" href="{{site.baseurl}}/products/showerscreens/">
                              <span class="btn__text">
                                  View Collection
                              </span>
                          </a>
                      </div>
                  </div>
                  <!--end row-->
              </div>
              <!--end container-->
          </li>
            <li class="imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/hero-millenniumglass-splashbacks.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Glass Splashbacks</h1>
                            <p class="lead">
                                <em>All jobs are measured and quoted by owner</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/splashbacks/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>

            <li class="imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/hero-millenniumglass-mirrors.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Mirrors</h1>
                            <p class="lead">
                                <em>Installed by team of experienced fitters</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/mirrors/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>
            <li class="imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/wardrobe-doors-gold-coast.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Wardrobe Doors</h1>
                            <p class="lead">
                                <em>Beautiful custom wardrobe designs</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/wardrobe-doors/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>
            <li class="imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/aluminium-fencing/aluminium-privacy-fencing/hero/privacy-screen_ex.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Aluminium Fencing</h1>
                            <p class="lead">
                                <em>We have a full range of Aluminium Fencing</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/aluminium-fencing/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>
            <li class="imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/glass-fencing-and-balustrade/glass-frameless/hero/frameless-spigots-100.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Glass Fencing & Balustrade</h1>
                            <p class="lead">
                                <em>We have a full range of Glass Fencing</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/glass-fencing/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>
        </ul>
    </section>


    <section class="imagebg image--light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <p class="lead">
                      We sell quality products at a good price. We offer free quotes and all our products meet Australian Standards. We value your time and will provide the best options for your taste and budget.

                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
