<section class="slider imageblock switchable height-70 bg--secondary" data-arrows="true" data-timing="5000">
    <ul class="slides">
        <li>
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder" style="background-image: url(&quot;{{site.baseurl}}/img/showerscreens/frameless/hero/showerscreens-frameless-gold-coast.jpg&quot;); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                    <img alt="image" src="{{site.baseurl}}/img/showerscreens/frameless/hero/showerscreens-frameless-gold-coast.jpg">
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ">
                        <h2>Showerscreens</h2>
                        <p class="lead">
                            Premium quality and competitive prices. We manufacture all our products in our factory.
                        </p>
                        <a class="btn btn--primary type--uppercase" href="{{site.baseurl}}/products/showerscreens/">
                            <span class="btn__text">
                                Browse Showerscreens
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end container-->
        </li>
        <li>
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder" style="background-image: url(&quot;{{site.baseurl}}/img/hero-millenniumglass-mirrors.jpg&quot;); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                    <img alt="image" src="{{site.baseurl}}/img/hero-millenniumglass-mirrors.jpg">
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ">
                        <h2>A huge range of Mirrors</h2>
                        <p class="lead">
                            Installed by team of experienced fitters
                        </p>
                        <a class="btn btn--primary type--uppercase" href="{{site.baseurl}}/products/mirrors/">
                            <span class="btn__text">
                                Browse Mirrors
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end container-->
        </li>

        <li>
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder" style="background-image: url(&quot;{{site.baseurl}}/img/wardrobe-doors-gold-coast.jpg&quot;); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                    <img alt="image" src="{{site.baseurl}}/img/wardrobe-doors-gold-coast.jpg">
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ">
                        <h2>Custom Wardrobe Doors</h2>
                        <p class="lead">
                            Beautiful sliding wardrobe doors
                        </p>
                        <a class="btn btn--primary type--uppercase" href="{{site.baseurl}}/products/wardrobe-doors/">
                            <span class="btn__text">
                                Browse Sliding Wardrobe Doors
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end container-->
        </li>

        <li>
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder" style="background-image: url(&quot;{{site.baseurl}}/img/hero-millenniumglass-splashbacks.jpg&quot;); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                    <img alt="image" src="{{site.baseurl}}/img/hero-millenniumglass-splashbacks.jpg">
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ">
                        <h2>Glass Splashbacks</h2>
                        <p class="lead">
                            All jobs are measured and quoted by owner
                        </p>
                        <a class="btn btn--primary type--uppercase" href="{{site.baseurl}}/products/splashbacks/">
                            <span class="btn__text">
                                Browse Splashbacks
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end container-->
        </li>

        <li>
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder" style="background-image: url(&quot;{{site.baseurl}}/img/glass-fencing-and-balustrade/glass-frameless/hero/frameless-spigots-100.jpg&quot;); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                    <img alt="image" src="{{site.baseurl}}/img/glass-fencing-and-balustrade/glass-frameless/hero/frameless-spigots-100.jpg">
                </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ">
                        <h2>Glass Fencing & Balustrade</h2>
                        <p class="lead">
                            We have a full range of Glass Fencing
                        </p>
                        <a class="btn btn--primary type--uppercase" href="{{site.baseurl}}/products/glass-fencing/">
                            <span class="btn__text">
                                Browse Glass Fencing & Balustrade
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end container-->
        </li>
    </ul>
</section>