<body>

  <div class="main-container">



    <section class="slider slider--animate height-70 cover cover-5" data-arrows="true" data-paging="true" data-timing="5000">
        <ul class="slides">
          <li class="imagebg parallax" data-overlay="4">
              <div class="background-image-holder">
                  <img alt="image" src="{{site.baseurl}}/img/showerscreens/frameless/hero/showerscreens-frameless-gold-coast.jpg" />
              </div>
              <div class="container pos-vertical-center">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2 text-center">
                          <h1>SHOWERSCREENS.</h1>
                          <p class="lead">
                              <em>We manufacture all our products in our factory</em>
                          </p>
                          <a class="btn btn--primary" href="{{site.baseurl}}/products/showerscreens/">
                              <span class="btn__text">
                                  View Collection
                              </span>
                          </a>
                      </div>
                  </div>
                  <!--end row-->
              </div>
              <!--end container-->
          </li>        
            <li class="imagebg parallax" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/hero-millenniumglass-splashbacks.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>GLASS SPLASHBACKS.</h1>
                            <p class="lead">
                                <em>All jobs are measured and quoted by owner</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/splashbacks/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>

            <li class="imagebg parallax" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{site.baseurl}}/img/hero-millenniumglass-mirrors.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>MIRRORS.</h1>
                            <p class="lead">
                                <em>Installed by team of experienced fitters</em>
                            </p>
                            <a class="btn btn--primary" href="{{site.baseurl}}/products/mirrors/">
                                <span class="btn__text">
                                    View Collection
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </li>
        </ul>
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3>Servicing both Builders and DIY</h3>
                    <p class="lead">
                      Reliable measure and quote. Quality fitting with a fast turnaround service. We sell quailty products at a good price.                 </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>





</body>
