<section class="switchable">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <h2>Follow us for news and new products</h2>
                    <p class="lead">
                        We often post images of our latest projects and new products.
                    </p>
                    <a class="btn btn--icon bg--instagram type--uppercase" href="https://www.instagram.com/millennium_glass_goldcoast/">
                        <span class="btn__text">
                            <i class="socicon socicon-instagram"></i>
                            Follow @millennium_glass_goldcoast
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="instafeed instagram-sq" data-user-name="millennium_glass_goldcoast" data-access-token="6232136093.3fe4a3f.e5ea60285a484fda896c79f29f90c520" data-client-id="3fe4a3f2574f4fe6ae601e4dc8157a3c"  data-amount="6" data-grid="3"></div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end of container-->
</section>
