<section class="cover imagebg">
    <div class="background-image-holder">
        <img alt="image" src="{{site.baseurl}}/img/about-us-hero.jpg" />

    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img src="{{site.baseurl}}{{page.heroimage}}" />
                <h1>Contact Us</h1>
                <h3>for a fast estimate or quote.</h3>
                <p class="lead">We are a reliable friendly team covering all of the Gold Coast, Northern Rivers and Brisbane areas.
</p>

            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->
</section>
