<div class="nav-container ">
    <div class="bar bar-3 bar--sm bg--secondary" data-scroll-class="100px:pos-fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bar__module">
                    </div>
                </div>
                <div class="col-lg-6 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal">
                            <li>
                                <div class="modal-instance">
                                    <i class="stack-phone"></i>
                                    <a href="#" class="modal-trigger" data-modal-index="0">5593 5898</a>

                                </div>
                            </li>
                            <li>
                                <div class="modal-instance">
                                    <i class="stack-search"></i>
                                    <a href="#" class="modal-trigger" data-modal-index="1">Find Us</a>

                                </div>
                            </li>
                            <li>
                                <div class="modal-instance">
                                    <a href="#" class="modal-trigger" data-modal-index="1">Request a quote</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
</div>