<!-- mobile bar -->
<div class="bar bar--sm visible-xs bar--mobile-sticky" style="background-color: #0095C8;" data-scroll-class="100px:pos-fixed">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-2">
				<a href="{{site.baseurl}}/">
					<img class="mob-logo logo-dark" alt="logo" src="{{site.baseurl}}/img/logo-dark-rev.png" />
					<img class="mob-logo logo-light" alt="logo" src="{{site.baseurl}}/img/logo-light.png" />
				</a>
			</div>
			<div class="col-xs-9 col-sm-10 text-right">
				<a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
					<i class="icon icon--sm stack-interface stack-menu"></i>
				</a>
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</div>
<!--end mobile bar-->

<!-- top nav row -->
<nav id="menu1" class="bar bar--sm bar-1" data-scroll-class="100px:pos-fixed">
	<div class="bar bar-3 bar--sm">
		<div class="container-fluid ">
			<div class="row hidden-xs">
				<div class="col-lg-6">
					<div class="bar__module">
					</div>
				</div>
				<div class="col-lg-6 text-right text-left-xs text-left-sm">
					<div class="bar__module">
						<ul class="menu-horizontal">
							<li>
								<div class="modal-instance">
									<a href="tel:0755935898">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 32 32">
											<path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
										</svg>

										5593 5898</a>

								</div>
							</li>
							<li>
								<div class="modal-instance">
									<a href="{{site.baseurl}}/contact">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 32 32">
											<path d="M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"></path>
										</svg>
										Find Us</a>

								</div>
							</li>
							<li>
								<div class="modal-instance">
									<a href="{{site.baseurl}}/contact#contact">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 32 32">
											<title>clipboard</title>
											<path d="M29 4h-9c0-2.209-1.791-4-4-4s-4 1.791-4 4h-9c-0.552 0-1 0.448-1 1v26c0 0.552 0.448 1 1 1h26c0.552 0 1-0.448 1-1v-26c0-0.552-0.448-1-1-1zM16 2c1.105 0 2 0.895 2 2s-0.895 2-2 2c-1.105 0-2-0.895-2-2s0.895-2 2-2zM28 30h-24v-24h4v3c0 0.552 0.448 1 1 1h14c0.552 0 1-0.448 1-1v-3h4v24z"></path>
											<path d="M14 26.828l-6.414-7.414 1.828-1.828 4.586 3.586 8.586-7.586 1.829 1.828z"></path>
										</svg> Request a quote</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</div>
	<!-- end top nav row -->

	<!-- desktop nav -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-11 col-sm-12 text-left text-left-xs text-left-sm">
				<div class="bar__module">
					<ul class="menu-horizontal text-left">
						<div class="bar__module hidden-xs">
							<a href="{{site.baseurl}}/">
								<img class="logo logo-dark" alt="logo" src="{{site.baseurl}}/img/logo-dark.png" />
								<img class="logo logo-light" alt="logo" src="{{site.baseurl}}/img/logo-light.png" />
							</a>
						</div>
						<li>
							<a href="{{site.baseurl}}/showerscreens/frameless">
								Shower Screens </a>
						</li>
						<li>
							<a href="{{site.baseurl}}/mirrors">
								Mirrors </a>
						</li>
						<li>
							<a href="{{site.baseurl}}/builders">
								Wardrobe Doors
							</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/diy">
								Splashbacks
							</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/blog">
								Glass Fencing
							</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/contact">
								Accessories
							</a>
						</li>

					</ul>
				</div>

				<!--end nav module-->
				<div style="display:hidden;" class="bar__module visible-xs">
					<a class="btn btn--lg btn--secondary type--uppercase" href="{{site.baseurl}}/contact">

						<span class="btn__text" style="font-weight: bold; font-size: 1.2em; padding: 20px 0;">
							Contact Us</span>
					</a>
					<a class="btn btn--lg btn--primary type--uppercase" href="tel:07 5593 5898">
						<span class="btn__text" style="font-weight: bold; font-size: 1.2em; padding: 20px 0;">
							5593 5898
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

<!--end nav bar-->