<div class="notification pos-right pos-bottom col-sm-4 col-md-3 " data-animation="from-bottom" data-autoshow="2000" data-autohide="6000">
  <div class="boxed boxed--border border--round box-shadow">
    <img alt="avatar" class="image--sm" src="{{site.baseurl}}/img/dan-team-1.jpg">
    <div class="text-block">
      <h3>Get a free quote!</h3>
      <p>
         All work is carried out by our professional team to ensure the job is done right from the start!
      </p>
      <a class="btn btn--primary" href="{{site.baseurl}}/contact/">
          <span class="btn__text">
              Get a quote within 24hrs
          </span>
      </a>
    </div>
  </div>
  <div class="notification-close-cross notification-close"></div>
</div>
