<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__filters text-center" data-filter-all-text="Show All"></div>
                <div class="masonry__container masonry--gapless masonry--animate">
                    <div class="col-sm-4 masonry__item" data-masonry-filter="Splashbacks">
                        <a href="{{site.baseurl}}/products/splashbacks/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Glass Splashbacks" src="{{site.baseurl}}/img/glass-splashbacks-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h4>Glass Splashbacks</h4>
                                        <span>
                                            <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>
                    <div class="col-sm-8 masonry__item" data-masonry-filter="Showerscreens">
                        <a href="{{site.baseurl}}/products/showerscreens/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/glass-showerscreens-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h3>Showerscreens</h3>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>
                    <div class="col-sm-4 masonry__item" data-masonry-filter="Wardrobe Doors">
                        <a href="{{site.baseurl}}/products/wardrobes/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h4>Wardrobe Doors</h4>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>
                    <div class="col-sm-8 masonry__item" data-masonry-filter="Mirrors">
                        <a href="{{site.baseurl}}/products/mirrors/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/mirrors-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h3>Mirrors</h3>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>

                    <div class="col-sm-4 masonry__item" data-masonry-filter="Internal Shelving">
                        <a href="{{site.baseurl}}/products/shelving/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-shelving-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h4>Internal Shelving</h4>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>
                    <div class="col-sm-4 masonry__item" data-masonry-filter="Glass Pool Fence">
                        <a href="{{site.baseurl}}/products/glass-pool-fencing/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/glass-pool-fencing-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h4>Glass Pool Fence</h4>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>
                    <div class="col-sm-4 masonry__item" data-masonry-filter="Glass Balustrade">
                        <a href="{{site.baseurl}}/products/glass-balustrading/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/glass-balustrade-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h4>Glass Balustrade</h4>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>

                    <div class="col-sm-4 masonry__item" data-masonry-filter="Accessories">
                        <a href="{{site.baseurl}}/products/accessories/">
                            <div class="hover-element hover-element-1 bg--primary" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="{{site.baseurl}}/img/glass-accessories-gold-coast.jpg" />
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h4>Accessories</h4>
                                        <span>
                                          <em>View Collection</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--end hover element-->
                        </a>
                    </div>
                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
