<section class="space--sm switchable switchable--switch  ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="height-50 imagebg border--round" data-overlay="2">
                    <div class="background-image-holder" style="background: url(&quot;img/qbcc.jpg&quot;); opacity: 1;">
                        <img alt="background" src="img/qbcc.jpg">
                    </div>
                    <div class="pos-vertical-center col-md-6 boxed boxed--lg bg--none">
                        <h4>Queensland Building and Construction Commission Licensed</h4>
                        <p class="lead">
                            QBCC 1311306
                        </p>
                    </div>
                    <div class="pos-vertical-center col-md-6 boxed boxed--lg bg--none">
                        <h4>New South Wales<br /> Fair Work<br /> Licensed</h4>
                        <p class="lead">
                            NSW Fair Work 286609C
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>