<script src="{{site.baseurl}}/js/jquery-2.1.4.min.js"></script>
<script src="{{site.baseurl}}/js/flickity.min.js"></script>
<script src="{{site.baseurl}}/js/parallax.js"></script>
<script src="{{site.baseurl}}/js/isotope.min.js"></script>
<script src="{{site.baseurl}}/js/ytplayer.min.js"></script>
<script src="{{site.baseurl}}/js/lightbox.min.js"></script>
<script src="{{site.baseurl}}/js/owl.carousel.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.steps.min.js"></script>
<script src="{{site.baseurl}}/js/smooth-scroll.min.js"></script>
<script src="{{site.baseurl}}/js/scrollreveal.min.js"></script>
<script src="{{site.baseurl}}/js/parallax.js"></script>
<script src="{{site.baseurl}}/js/spectragram.min.js"></script>
<script src="{{site.baseurl}}/js/scripts.js"></script>
