<section class="project-single-stacked">
    <div class="container">
      <div class="row project__action">
          <div class="col-sm-12 text-center">
              <hr>
              <h5>Share this project:</h5>
              <a class="btn btn--sm bg--facebook" href="#">
                  <span class="btn__text">
                      <i class="socicon-facebook"></i> Share on Facebook
                  </span>
              </a>

              <a class="btn btn--sm bg--houzz" href="#">
                  <span class="btn__text">
                      <i class="socicon-houzz"></i> Share on Houzz
                  </span>
              </a>
          </div>
      </div>
    </div>
  </section>
