<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="tabs-container" data-content-align="left">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab__title">
                                <span class="h5">Description</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab__title">
                                <span class="h5">Features</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab__title">
                                <span class="h5">Colour Options</span>
                            </div>

                        </li>
                    </ul>
                    <ul class="tabs-content">
                        <li class="active">
                            <div class="tab__content">
                                <p>
                                    Shoji sliding wardrobe door system is customisable with different colours, finishes and rail arrangements. The system glides with ease and is finished in high grade aluminium to withstand all the bumps and knocks of regular use.
                                </p>
                                <p>
                                    They are the ultimate in flexible and fluid design. With nearly endless rail and panel colours and configurations melded with smooth sliding operation and seamless track design, the Shoji sliding door is truly in a class of its own.
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <div class="tab__content">
                                <p>
                                    <ul>
                                        <li>• Endless design combinations and choices</li>
                                        <li>• Choices between glass, mirror and board veneer panels</li>
                                        <li>• Wide frames and rails make a genuine statement</li>
                                        <li>• No visible gap between door and tracks create a seamless aesthetic</li>
                                        <li>• Secure doors</li>
                                        <li> • Spring-loaded roller system locks in and secures doors top and bottom preventing them jumping off the track.</li>
                                        <li>• Clean lines</li>
                                        <li>• No visible gap between the door and the tracks for seamless design and safety.</li>
                                        <li>• Smooth sliding - Featuring an adjustable roller system to accommodate uneven floors and walls</li>
                                        <li>• Subtle - Low profile top and bottom track</li>
                                        <li>• Modern Contemporary design with flush-mounted infill panels</li>
                                        <li>• Adjustable top and bottom roller system for safety and flexibility</li>
                                        <li>• Unique solid construction</li>
                                        <li>• No visible gap between the door and bottom track for seamless design</li>
                                        <li>• Panel finish options and chair rail system provides design flexibility</li>
                                    </ul>
                                </p>
                            </div>
                        </li>
                        <li class="">
                            <div class="tab__content">
                                <p>
                                    Our Shogun range offers a contemporary design and style, allowing you to incorporate different glass types, mirror or veneer boards within the one door, different handle colours and different frame colours and designs. </p>
                                <h6>Frame</h6>
                                <p>Matt Black, Pearl White, Matt Silver</p>
                                <h6>Handle</h6>
                                <p>Matt Black, Pearl White, Matt Silver, Chrom</>e
                                    <h6>Rail</h6>
                                    <p>Matt Black, Pearl White, Matt Silver</p>
                                    <h6>Track</h6>
                                    <p>Matt Black, Pearl White, Matt Silver</p>
                                    <h6>Buffer Stop</h6>
                                    <p>Buffer stop Translucent</p>
                                    <h6>Infill Panel</h6>
                                    <p>Mirror: Silver, Bronze or Grey Coloured Glass: Wide range of colours to choose from. Board Veneer.</p>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of tabs container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>