<section class="switchable feature-large ">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <img alt="Image" class="border--round box-shadow-wide" src="{{site.baseurl}}/img/shoji.jpg">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="switchable__text">
                    <h2>Shoji Sliding Wardrobe Door System</h2>
                    <p class="lead">
                        Design Flexibility - made to suit your individual requirments the shoji allows for flexibility in door panel design. Facilitating the fabrication of custom designed door panels, a wide range of interior designs are possible providing architectural and aesthetic appeal.
                    </p>
            <a href="{{site.baseurl}}/products/wardrobe-doors/shoji/">Learn More
            </a>                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>