<section class="masonry-contained">
    <div class="container">
        <div class="row">
          <h2>Showerscreens</h2>
            <div class="masonry">
                <div class="masonry__filters" data-filter-all-text="Show All"></div>
                <div class="masonry__container masonry--animate">
                    <div class="col-md-3 col-sm-6 masonry__item" data-masonry-filter="branding">
                        <a href="#">
                            <div class="portfolio-item portfolio-item-1 text-center">
                                <img alt="pic" src="{{site.baseurl}}/img/work10.jpg" />
                                <h5>Framed</h5>
                                <span>
                                    <em>View Collection</em>
                                </span>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-md-3 col-sm-6 masonry__item" data-masonry-filter="branding">
                        <a href="#">
                            <div class="portfolio-item portfolio-item-1 text-center">
                                <img alt="pic" src="{{site.baseurl}}/img/work2.jpg" />
                                <h5>Semi-Frameless</h5>
                                <span>
                                    <em>View Collection</em>
                                </span>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-md-3 col-sm-6 masonry__item" data-masonry-filter="digital">
                        <a href="#">
                            <div class="portfolio-item portfolio-item-1 text-center">
                                <img alt="pic" src="{{site.baseurl}}/img/work6.jpg" />
                                <h5>Frameless</h5>
                                <span>
                                    <em>View Collection</em>
                                </span>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-md-3 col-sm-6 masonry__item" data-masonry-filter="digital">
                        <a href="#">
                            <div class="portfolio-item portfolio-item-1 text-center">
                                <img alt="pic" src="{{site.baseurl}}/img/work12.jpg" />
                                <h5>Panel Only</h5>
                                <span>
                                    <em>View Collection</em>
                                </span>
                            </div>
                        </a>
                    </div>
                    <!--end item-->





                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
