<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__container masonry--animate">
                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/showerscreens/framed/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/framed/hero/framed-corner-entry.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Framed Showerscreens</h5>
                                    </div>
                                    <span>
                                        <em>The choice for value. The framed showerscreens are proven to be longer lasting while being budget-friendly.</em>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/showerscreens/frameless/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/frameless/hero/showerscreens-frameless-gold-coast.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Frameless Showerscreens</h5>
                                    </div>
                                    <span>
                                        <em>Elegant, contemporary and minimalist—Clean lines and invisible fixing points make the Frameless range unique.</em>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->

                    <div class="col-sm-6 masonry__item">
                        <a href="{{site.baseurl}}/products/showerscreens/panel/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/panel/hero/panel-hero.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Panel Showerscreens</h5>
                                    </div>
                                    <span>
                                        <em>Affordable and functional — available in a range of customised sizes to compliment your bathroom. Custom cut panel to fit any space.  We can suspend panels using a secure brace.</em>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item" >
                        <a href="{{site.baseurl}}/products/showerscreens/semi-frameless/">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/semi-frameless/hero/semi-frameless-hero.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Semi-Frameless Showerscreens</h5>
                                    </div>
                                    <span>
                                        <em>With a slim perimeter a semi-frameless showerscreen will create an exciting, visually spacious and stylish bathroom.</em>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--end item-->




                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
