<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">

      <!-- <img alt="image" src="{{ page.image_path }}" /> -->
        <!-- <img alt="image" src="{{site.baseurl}}/img/showerscreens-frameless-gold-coast.jpg" /> -->
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Frameless Showerscreens</h2>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<section class="project-single-stacked">
    <div class="container">
        <div class="row project__summary">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="lead">
                    Dic innovate actionable insight workflow sticky note sticky note unicorn quantitative vs. qualitative food-truck. Workflow big data food-truck.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row project__description">
            <div class="col-sm-4 col-sm-offset-2">
                <h5>The Product</h5>
                <p>
                    User story human-centered design engaging actionable insight paradigm grok big data hacker. Latte entrepreneur human-centered design cortado big data parallax thinker-maker-doer bootstrapping human-centered design waterfall.
                </p>
            </div>
            <div class="col-sm-4">
                <h5>The Quality</h5>
                <p>
                    Workflow parallax pivot hacker driven disrupt affordances personas. Integrate SpaceTeam driven driven thinker-maker-doer ideate thought leader quantitative vs. qualitative. Pair programming SpaceTeam integrate fund long shadow venture.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img alt="pic" src="{{site.baseurl}}/img/showerscreens-frameless-gold-coast-2.jpg" />
                <img alt="pic" src="{{site.baseurl}}/img/showerscreens-frameless-gold-coast-3.jpg" />
                <img alt="pic" src="{{site.baseurl}}/img/showerscreens-frameless-gold-coast-4.jpg" />
            </div>
        </div>
        <!--end of row-->

        <div class="row project__action">
            <div class="col-sm-12 text-center">
                <hr>
                <h5>Share this project:</h5>
                <a class="btn btn--sm bg--facebook" href="#">
                    <span class="btn__text">
                        <i class="socicon-facebook"></i> Share on Facebook
                    </span>
                </a>

                <a class="btn btn--sm bg--houzz" href="#">
                    <span class="btn__text">
                        <i class="socicon-houzz"></i> Share on Houzz
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
