<section class="imageblock switchable feature-large bg--secondary">



    <div class="container">
        <div class="row ">

            <div class="col-lg-5 col-md-7">
                <h2>Visit our Showroom</h2>
                <p class="lead">With over 60 years of combined experience, our team’s mission is to provide quality products and friendly service for households all throughout the east coast.</p>
                <a class="btn btn--primary type--uppercase" href="{{site.baseurl}}/contact#contact">
                    <span class="btn__text">
                        BOOK A CONSULTATION
                    </span>
                </a>
            </div>
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder" style="background-image: url(&quot;{{site.baseurl}}/img/showroom.jpg&quot;); opacity: 1; background-position: initial initial; background-repeat: initial initial;">
                    <img alt="image" src="{{site.baseurl}}/img/showroom.jpg">
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>