<section class="imagebg height-50" data-overlay="5">
    <div class="background-image-holder background--bottom">
        <img alt="image" src="{{site.baseurl}}{{page.heroimage}}" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{{page.title}}</h1>
                <p class="lead">{{page.description}}</p>
                <a class="btn btn--lg btn--primary type--uppercase" href="{{page.buybutton}}/" target="_blank">
                    <span class="btn__text">
                        Get a Quote
                    </span>
                </a>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>