<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/framed/hero/framed-corner-entry.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Framed Showerscreens</h5>
              <p>
                The choice for value. The framed showerscreens are proven to be longer lasting while being budget-friendly.
              </p>
              <a href="{{site.baseurl}}/products/showerscreens/framed/">
              Learn More
              </a>
            </div>
        </div>
      </div>
      <!--end feature-->
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/frameless/hero/showerscreens-frameless-gold-coast.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Frameless Showerscreens</h5>
            <p>
              Elegant, contemporary and minimalist—Clean lines and invisible fixing points make the Frameless range unique.
            </p>
            <a href="{{site.baseurl}}/products/showerscreens/frameless/">
            Learn More
            </a>
          </div>
        </div>
      </div>
      <!--end feature-->
      <div class="col-sm-4 col-sm-offset-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/panel/hero/panel-hero.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Panel Showerscreens</h5>
              <p>
                Affordable and functional — available in a range of customised sizes to compliment your bathroom. Custom cut panel to fit any space. We can suspend panels using a secure brace.
              </p>
              <a href="{{site.baseurl}}/products/showerscreens/panel/">
              Learn More
              </a>
            </div>
        </div>
      </div>
      <!--end feature-->
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/showerscreens/semi-frameless/hero/semi-frameless-hero.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Semi-Frameless Showerscreens</h5>
              <p>
                With a slim perimeter a semi-frameless showerscreen will create an exciting, visually spacious and stylish bathroom on a conscientious budget.
              </p>
              <a href="{{site.baseurl}}/products/showerscreens/semi-frameless/">
              Learn More
              </a>
            </div>
        </div>
      </div>
      <!--end feature-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
