<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-sm-offset-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/standard/023_mlsglass_splashbacks.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Standard Colour Splashbacks</h5>
            <p>
              Easy to clean, sleek, contemporary and comes in a range of colours to match your décor. Splashbacks are strong, durable, easy to clean and more hygienic than tiles.
            </p>
          </div>
        </div>
      </div>
      <!--end feature-->
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/mirror/Mirrorstar.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Mirror Splashbacks</h5>
            <p>
              If you’re looking for a splashback that works well, looks fantastic and that will actually make your room look larger; you can’t go past a mirror splashback. </span>
            </p>
          </div>
        </div>
      </div>
      <!--end feature-->
    </div>
    <!--end of row-->

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/metalic/iron-glass-splashback.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Metallic Splashbacks</h5>
            <p>
              Bold metallic finishes can create texture and more depth. Our collection consists of several neutral metallic options, ranging from bright silvers to gold finishes. A sparkle finish can be added to achieve
              a similar effect to the Metallic colour range. </em>
            </p>
          </div>
        </div>
      </div>
      <!--end feature-->
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/special/splashback-gold-coast.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Special Splashbacks</h5>
            <p>
              The only limit is your imagination. Custom Special Splashbacks create a unique atmosphere in your home. Our experienced and innovative team can work with you to accomplish your vision. </em>
            </p>
          </div>
        </div>
      </div>
      <!--end feature-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>