<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__container masonry--animate">
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/standard/023_mlsglass_splashbacks.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Standard Colour Splashbacks</h5>
                                    </div>
                                    <span>
                                        <em>
                                          Easy to clean, sleek, contemporary and comes in a range of colours to match your décor. Splashbacks are strong, durable, easy to clean and more hygienic than tiles.                                        </em>
                                        </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/mirror/Mirrorstar.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Mirror Splashbacks</h5>
                                    </div>
                                    <span>
                                        <em>
                                        If you’re looking for a splashback that works well, looks fantastic and that will actually make your room look larger; you can’t go past a mirror splashback.                                    </span>
                                      </em>
                                </div>
                            </div>
                    </div>
                    <!--end item-->

                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/splashbacks/metalic/iron-glass-splashback.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Metallic Splashbacks</h5>
                                    </div>
                                    <span>
                                        <em>
                                          Bold metallic finishes can create texture and more depth. Our collection consists of several neutral metallic options, ranging from bright silvers and gold finishes to dark earthy tones. A sparkle finish can be added to non-metallic colours to achieve a similar effect to the Metallic colour range.                                        </em>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->





                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
