<section class="text-center space--md">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-10">
                                            <div class="slider" data-paging="true" data-children="3">
                                                <ul class="slides flickity-enabled is-draggable" tabindex="0">
                                                    
                                                    
                                                    
                                                <div class="flickity-viewport" style="height: 189px;"><div class="flickity-slider" style="left: 0px; transform: translateX(-200%);"><li class="slide" style="position: absolute; left: 300%;">
                                                        <div class="testimonial">
                                                            <blockquote>
                                                                “Loved the finished product and appreciate that the job was done when it was with the absences you've had. The entire process was great and I liked that I had the ability to put up some sample colours to hlp me decide.”
                                                            </blockquote>
                                                            <h5>Tegan</h5>
                                                            <span>29 August 2018</span>
                                                        </div>
                                                    </li><li class="slide" style="position: absolute; left: 100%;">
                                                        <div class="testimonial">
                                                            <blockquote>
                                                                “Glen the installer is very competent and capable he made the experience even better and went out of his way to take care of a few little issues I had.”
                                                            </blockquote>
                                                            <h5>Andrew</h5>
                                                            <span>3 September 2018</span>
                                                        </div>
                                                    </li><li class="slide is-selected" style="position: absolute; left: 200%;">
                                                        <div class="testimonial">
                                                            <blockquote>
                                                                “The new screens and mirrors look fantastic, Thankyou!!!”
                                                            </blockquote>
                                                            <h5>Robyn Claggett</h5>
                                                            <span>15 August 2018</span>
                                                        </div>
                                                    </li></div></div><ol class="flickity-page-dots"><li class="dot"></li><li class="dot"></li><li class="dot is-selected"></li></ol></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>