

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="testimonial testimonial-1 text-center boxed bg--white">
                    <img alt="Logo" src="{{site.baseurl}}/img/handh.jpg" />
                    <p class="lead">
                        &ldquo;Millennium Glass have truely amazing service. We appreciate the professionalism and the outcome. <br /><br />Millennium Glass's value for money is second to none.&rdquo;
                    </p>
                    <h5>H and H constructions</h5>
                    <span>Gold Coast Australia</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial testimonial-1 text-center boxed bg--white">
                    <img alt="Logo" src="{{site.baseurl}}/img/highlife-homes-logo.jpg" />
                    <p class="lead">
                        &ldquo;We absolutely love Millennium Glass. We know it's a quality product and being in the building industry our clients have such high expectations, it's great to know we have trades like Millennium Glass that we can truly depend on.&rdquo;
                    </p>
                    <h5>Highlife Homes</h5>
                    <span>Gold Coast Australia</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial testimonial-1 text-center boxed bg--white">
                    <img alt="Logo" src="{{site.baseurl}}/img/Son-Of-Beach-Logo.png" />
                    <p class="lead">
                        &ldquo;We have no hesitation in recommending Millennium Glass. The team and Daniel the owner always do a great job on site at a fair price. We will continue working with Millennium Glass for years to come.&rdquo;
                    </p>
                    <h5>Paul Wiseman</h5>
                    <span>Son of a Beach Constructions</span>
                </div>
            </div>
                        <div class="col-sm-6">
                            <div class="testimonial testimonial-1 text-center boxed bg--white">
                                <img alt="Logo" src="{{site.baseurl}}/img/Space-logo.png" />
                                <p class="lead">
                                    &ldquo;Millennium Glass has been a partner of ours for many years. We are a custom home builder and we are dependent on our suppliers and subcontractors being reliable, efficient and with an eye for detail. Daniel and his team get the job done without the fuss.&rdquo;
                                </p>
                                <h5>Bob Antic</h5>
                                <span>Space Constructions</span>
                            </div>
                        </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
