

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
              <h3>Your team of experts</h3>
                <p class="lead">Millennium Glass specialise in a range of glass splashbacks, shower screens, mirrors, sliding wardrobe doors, internal wardrobe shelving, glass pool fencing and balustrading for commercial, DIY and home renovators. 
</p>

                        </div>

                    </div>
        </div>
        <!--end of row-->
    <!--end of container-->
</section>


<section class="bg--white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="member member-1">
                    <img alt="pic" src="{{site.baseurl}}/img/dan-team-1.jpg" />
                    <h6>Founder / Owner</h6>
                    <h5>Daniel Trotman</h5>
                    <p>
                      Daniel has extensive experience in all types of glass fitting, installation and manufacturing of various Glass and Aluminium products.  Daniel works alongside a quality team of industry professionals.
                      He is dedicated to providing high quality products with excellent, friendly customer service.
                </div>
                <!--end member-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
