<section class="masonry-contained">
    <div class="container">
        <div class="row">
            <div class="masonry">
              <h2 class="text-center">Types</h2>

                <div class="masonry__container masonry--animate">
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/wardrobe/colour-back/hero/Colourback-Glass-SWD.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Colour-back Glass</h5>
                                    </div>
                                    <span>
                                        <em>Choose from a range of colours or custom painted</em>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/wardrobe/mirror/hero/Mirror-SWD.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Mirror</h5>
                                    </div>
                                    <span>
                                        <em>Silver bronze or grey mirror helps open up a smaller space.</em>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item">
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/wardrobe/vinyl-colour/hero/Timbergrain-Vinyl-SWD.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Vinyl</h5>
                                    </div>
                                    <span>
                                        <em>A low cost budget option with a clean simple look. Vinyl are unique, stylish and durable.</em>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                    <div class="col-sm-6 masonry__item" >
                            <div class="card card-3">
                                <div class="card__image">
                                    <img alt="Pic" src="{{site.baseurl}}/img/wardrobe/premium-vinyl-colour/hero/premium-vinyl-colour-wardrobe-doors-gold-coast.jpg" />
                                </div>
                                <div class="card__body boxed bg--white">
                                    <div class="card__title">
                                        <h5>Premium Vinyl</h5>
                                    </div>
                                    <span>
                                        <em>Make a statement, choose colours and styles to decorate and match your décor.</em>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <!--end item-->
                  </div>
                    <h2 class="text-center">Styles</h2>

<div class="col-sm-6 masonry__item" >
        <div class="card card-3">
            <div class="card__image">
                <img alt="Pic" src="{{site.baseurl}}/img/wardrobe/mirrorline/hero/mirrorline-wardrobe-doors-gold-coast.jpg" />
            </div>
            <div class="card__body boxed bg--white">
                <div class="card__title">
                    <h5>Mirrorline</h5>
                </div>
                <span>
                    <em>Micro-framed edge to give a frameless look, modern look.
                      Triple track available.</em>
                </span>
            </div>
        </div>
</div>
<!--end item-->
<div class="col-sm-6 masonry__item" >
        <div class="card card-3">
            <div class="card__image">
                <img alt="Pic" src="{{site.baseurl}}/img/wardrobe/slimline/SlimlineTT_0015_large.jpg" />
            </div>
            <div class="card__body boxed bg--white">
                <div class="card__title">
                    <h5>Slimline</h5>
                </div>
                <span>
                    <em>This look can be achieved on all the above options. The wheels are in the center of the bottom rail. Triple track available.
</em>
                </span>
            </div>
        </div>
</div>
<!--end item-->
                </div>
                <!--end masonry container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
