<section>
  <div class="container">
    <div class="row">
      <h2 class="text-center">Types</h2>
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/colour-back/colourback-glass-swd.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Colour-back Glass</h5>
            <p>
              Choose from a range of colours or custom painted.
            </p>
            <a href="{{site.baseurl}}/products/wardrobe-doors/colour-back/">
            Learn More
            </a>
          </div>
        </div>
      </div>

      <!--end feature-->
      <div class="col-sm-4">
          <div class="feature feature-1">
              <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/mirror/mirror-swd.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Mirror</h5>
              <p>
                The perfect choice where space is at a premium.
              </p>
              <a href="{{site.baseurl}}/products/wardrobe-doors/mirror/">
              Learn More
              </a>
            </div>
          </div>
      </div>
      <!--end item-->
      <div class="col-sm-4">
          <div class="feature feature-1">
              <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/vinyl-colour/hero/timbergrain-vinyl-swd.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Vinyl</h5>
              <p>  Vinyl are unique, stylish and durable. A low cost clean look.</p>
              <a href="{{site.baseurl}}/products/wardrobe-doors/vinyl-colour/">Learn More
              </a>
            </div>
          </div>
      </div>
      <!--end item-->
      <div class="col-sm-4">
          <div class="feature feature-1">
              <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/premium-vinyl-colour/hero/premium-vinyl-colour-wardrobe-doors-gold-coast.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Premium Vinyl</h5>
              <p>Make a statement, choose colours and styles to match your décor.</p>
              <a href="{{site.baseurl}}/products/wardrobe-doors/premium-vinyl-colour/">Learn More
              </a>
            </div>
          </div>
      </div>
      <!--end item-->
      <div class="col-sm-4">
          <div class="feature feature-1">
              <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/woodgrain/hero/woodgrain-wardrobe-sliding-door-gold-coast.jpg" />
            <div class="feature__body boxed boxed--border">
              <h5>Woodgrain</h5>
              <p>Our range comes in a variety of styles and finishes.</p>
              <a href="{{site.baseurl}}/products/wardrobe-doors/woodgrain/">Learn More
                </a>
            </div>
          </div>
      </div>
      <!--end item-->
            <div class="col-sm-4">
              <div class="feature feature-1">
                <img alt="Pic" src="{{site.baseurl}}/img/shoji.jpg" />
                <div class="feature__body boxed boxed--border">
                  <h5>Shoji Doors</h5>
                  <p>Allowing you to incorporate different materials within the one door</p>
                  <a href="{{site.baseurl}}/products/wardrobe-doors/shoji/">Learn More
                  </a>
                </div>
              </div>
            </div>
            <!--end item-->
    </div>

    <h2 class="text-center">Styles</h2>

    <div class="col-sm-4">
        <div class="feature feature-1">
            <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/mirrorline/hero/mirrorline-wardrobe-doors-gold-coast-4.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Mirrorline</h5>
            <p>Micro-framed edge to give a frameless look, modern look. The very popular triple track is available.</p>
                <a href="{{site.baseurl}}/products/wardrobe-doors/mirrorline/">Learn More
                </a>
                <br><br>
            <a class="btn btn--sm" href="{{page.brochure}}">
                     <p class="btn__text">Download Brochure</p>
                </a>
          </div>
        </div>
    </div>
    <!--end item-->
    <div class="col-sm-4">
        <div class="feature feature-1">
            <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/slimline/slimline-wardrobe-doors-gold-coast.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Slimline</h5>
            <p>This look can be achieved on all the above options. The wheels are in the center of the bottom rail. Triple track available.
                </p>
                <a href="{{site.baseurl}}/products/wardrobe-doors/slimline/">Learn More
                </a>
            <br><br>
            <a class="btn btn--sm" href="{{page.brochure2}}">
                     <p class="btn__text">Download Brochure</p>
                </a>
          </div>
        </div>
    </div>
    <!--end item-->
    <div class="col-sm-4">
        <div class="feature feature-1">
            <img alt="Pic" src="{{site.baseurl}}/img/wardrobe-doors/softline/softline_0043_large.jpg" />
          <div class="feature__body boxed boxed--border">
            <h5>Softline</h5>
            <p>
                    Exceptional Value - create an absolute premium wardrobe design at a surprisingly affordable price with Softline styles.
                </p>
                <a href="{{site.baseurl}}/products/wardrobe-doors/softline/">Learn More
                </a>
            <br><br>
            <a class="btn btn--sm" href="{{page.brochure3}}">
                     <p class="btn__text">Download Brochure</p>
                </a>
          </div>
        </div>
    </div>
    <!--end item-->
    
{% include shoji.html%}
{% include wardrobe-shelving.html%}


  </div>
  <!--end masonry container-->
  </div>
  </div>
  <!--end of row-->
  </div>
  <!--end of container-->
</section>
