---
layout: fencing-layout
title: Semi-Frameless Glass Fencing
description: Gold Coast Supplier and installer of Glass Pool Fencing & Aluminium Fencing.
image_path: /img/glass-fencing-and-balustrade/glass-semi-frameless/
category: glass-fencing
product: Semi-Frameless Glass Pool Fencing
value-prop:  Semi-frameless glass pool fencing is the most cost effective type of glass pool fencing. And it's quite stunning.
---
{% assign product = site.data.glass-fencing[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
      {% for image in site.static_files %}
      {% if image.path contains '/img/glass-fencing-and-balustrade/glass-semi-frameless/hero' %}
          <img src="{{site.baseurl}}{{image.path}}">
      {% endif %}
      {% endfor %}
    </div>

    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h1>{{ page.title }}</h1>
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                  <p class="lead">
                    {{page.value-prop}}
                  </div>
                  </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
{% include features-quality.html %}
{% include features-stainless.html %}
{% include content-semi-fencing.html %}


<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              {% for image in site.static_files %}
              {% if image.path contains 'img/glass-fencing-and-balustrade/glass-semi-frameless/' %}
                  <img src="{{site.baseurl}}{{image.path}}">
              {% endif %}
              {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
