---
layout: fencing-layout
title: Aluminium Pool Fencing
description: Gold Coast Supplier and installer of Aluminium Pool and Privacy Fencing.
image_path: /img/aluminium-fencing/
category: aluminium-fencing
product: Aluminium pool-fencing Fencing
value-prop:  Aluminium tubular fencing panels can be used as pool fences, security fences or to divide areas off. Attractive, strong, low maintenance and cost effective.
process: Free measure and quote. We start be measuring to the exact millimeter with a full range to suit your taste and budget. Repair or replace.
quality: We use the best quality aluminium fencing and components at the most competitive prices.
---
{% assign product = site.data.fencing[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
      {% for image in site.static_files %}
      {% if image.path contains 'img/aluminium-fencing/aluminium-pool-fencing/hero' %}
          <img src="{{site.baseurl}}{{image.path}}">
      {% endif %}
      {% endfor %}
    </div>

    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h1>{{ page.title }}</h1>
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                  <p class="lead">
                    {{page.value-prop}}
                  </div>
                  </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<section>
<div class="row project__description">
    <div class="col-sm-4 col-sm-offset-2">
        <h5>Process</h5>
        <p />{{page.process}}



    </div>
    <div class="col-sm-4">
        <h5>Quality</h5>
        <p />{{page.quality}}
    </div>
</div>
<!--end of row-->
</section>

<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              {% for image in site.static_files %}
              {% if image.path contains 'img/aluminium-fencing/aluminium-pool-fencing/' %}
                  <img src="{{site.baseurl}}{{image.path}}">
              {% endif %}
              {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
