---
layout: default-layout
title: Hinges
description: Gold Coast Supplier and installer of Glass Accessories.
image_path: /img/accessories/hinges/
category: accessories
product: hinges
value-prop:  ?????????????????
---
{% assign product = site.data.accessories[page.product] %}

<section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
      {% for image in site.static_files %}
      {% if image.path contains 'img/accessories/hinges/' %}
          <img src="{{site.baseurl}}{{image.path}}">
      {% endif %}
      {% endfor %}
    </div>

    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
              <h1>{{ page.title }}</h1>
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                  <p class="lead">
                    {{page.value-prop}}
                  </div>
                  </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

{% include content.html %}


<section class="project-single-stacked">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              {% for image in site.static_files %}
              {% if image.path contains 'img/accessories/hinges' %}
                  <img src="{{site.baseurl}}{{image.path}}">
              {% endif %}
              {% endfor %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
