<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="container-fluid" data-spy="scroll" data-target="#myScrollspy">
  <a id="start"></a>
  {% include gtm.html %}
  {% include nav.html %}
  <div class="main-container">
    <div class="container-fluid">
      <section class="height-60 bg--dark imagebg">
        <div class="background-image-holder">
          <img src="{{page.hero_image}}">
        </div>
        <!--end container-->
      </section>

      {{ content }}

      {% include features-quality.html %}

      {% if page.category == "glass-fencing" %}
      {% include features-stainless.html %}
      {% endif %}

      {% if page.product == "shoji" %}
      {% include shoji-tabs.html %}
      {% endif %}

      {% include gallery-masonary.html %}

      {% include content.html %}

      {% if page.include_brochure == true %}
      {% include brochure.html %}
      {% endif %}



      {% include cta.html %}
      {% include contact-cta.html %}
      {% include footer.html %}
      <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
      </a>
    </div>
  </div>
  {% include scripts.html %}

</body>

</html>