<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <a id="start"></a>
  {% include gtm.html %}
  {% include nav.html %}

  <section class="height-70 bg--dark imagebg page-title project-single-title page-title--animate parallax" data-overlay="3">
    <div class="background-image-holder">
      <img src="{{page.image_path}}">
    </div>

    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>{{ page.title }}</h1>
          <p class="lead">
            {{page.value-prop}}
          </p>
          <a class="btn btn--lg btn--primary" href="{{page.buybutton}}" target="_blank">
            <span class="btn__text">
              Buy Online
            </span>
          </a>
        </div>
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  {% include features-quality.html %}
  {% include content.html %}

  <section class="project-single-stacked">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {% for image in site.static_files %}
          {% if image.path contains '/uploads/' %}
          <img src="{{site.baseurl}}{{image.path}}">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <!--end of row-->

    </div>
    <!--end of container-->
  </section>

  {% include cta.html %}
  {% include contact-cta.html %}
  {% include insta.html %}
  {% include footer.html %}
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
  </a>
  {% include scripts.html %}

</body>

</html>